.autofill-node {
    display: inline-block;
}

.autofill-node[data-autofill-stage="2"][data-autofill-type="input"],
.autofill-node[data-autofill-stage="1"][data-autofill-type="input"] {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.autofill-node[data-autofill-type="pre"] {
    position: relative;
}

.autofill-node[data-autofill-type="pre"]::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid #b30505;
    box-shadow: 1px 0 0 0 #b30505,
    -1px 0 0 0 #b30505,
    0 1px 0 0 #b30505,
    0 -1px 0 0 #b30505;
    transform: rotate(-2deg);
    top: 0;
    left: 0;
    opacity: 0.6;
}

.autofill-node[data-autofill-type="pre"][data-autofill-stage="3"]::before {
    display: none;
}

.autofill-node[data-autofill-input="file"] {
    min-width: fit-content!important;
}

.autofill-node[data-autofill-stage="2"][data-autofill-type="input"] {
    min-width: 100px;
    position: relative;
}
.autofill-node[data-autofill-stage="2"][data-autofill-type="input"]:focus {
    outline: none;
    border-color: #fb9e21;
}

.autofill-node[data-autofill-input="file"]::before {
    display: none!important;
}

.autofill-node[data-autofill-stage="2"][data-autofill-type="input"]::before {
    content: attr(data-autofill-label);
    display: inline-block;
    position: absolute;
    font-size: 12px;
    color: #fb9e21;
    font-weight: bold;
    vertical-align: baseline;
    white-space: pre;
    top: -12px;
    left: 0;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 17px;
    background: #ffffff;
}