.DataMention__contentEditable {
    border-radius: 10px;
    border: 1px solid #e1971a;
    font-size: 15px;
    padding-left: 4px;
    min-width: 50px;
}

.DataMention__contentEditable[data-mention-input-step='3'] {
    border-radius: unset;
    border: unset;
    font-size: unset;
    padding-left: unset;
    min-width: unset;
}

.DataMention__contentEditable:focus {
    outline-color: #e1971a;
}

.DataMention__placeholder {
    display: none;
}